*, *::before, *::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border-style: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Gabarito", cursive;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

.body .header {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
}
.body .header nav .nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  width: 100%;
}
.body .header nav .nav-list .left-link {
  width: 16rem;
}
.body .header nav .nav-list .left-link .sub-nav-list img {
  width: 14rem;
}
.body .header nav .nav-list .center-link {
  width: 40%;
}
.body .header nav .nav-list .center-link .sub-nav-list {
  display: flex;
  justify-content: space-evenly;
}
.body .header nav .nav-list .center-link .sub-nav-list .nav-item a {
  position: relative;
}
.body .header nav .nav-list .center-link .sub-nav-list .nav-item a:after {
  content: "";
  bottom: -0.4rem;
  width: 0;
  right: -5%;
  position: absolute;
  height: 0.125rem;
  background: #fff;
  transition: 0.4s width;
}
.body .header nav .nav-list .center-link .sub-nav-list .nav-item a:hover:after {
  width: 110%;
  left: -5%;
}
.body .header nav .nav-list .right-link {
  width: 16rem;
}
.body .header nav .nav-list .right-link .sub-nav-list {
  display: flex;
  justify-content: space-around;
}
.body .header nav .nav-list .right-link .sub-nav-list .nav-item a .scale-link {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  text-align: center;
  transition: 0.25s;
}
.body .header nav .nav-list .right-link .sub-nav-list .nav-item a .scale-link:active {
  transform: scale(0.9);
}
.body .header nav .nav-list .right-link .sub-nav-list .nav-item:first-child a .scale-link {
  border: solid 1px #fff;
}
.body .header nav .nav-list .right-link .sub-nav-list .nav-item:first-child a .scale-link:hover {
  background: #fff;
  color: #000;
}
.body .header nav .nav-list .right-link .sub-nav-list .nav-item:last-child a .scale-link {
  background: #fff;
  color: #000;
  border: solid 1px #fff;
}
.body .header nav .nav-list .right-link .sub-nav-list .nav-item:last-child a .scale-link:hover {
  color: #fff;
  background: none;
}
.body .main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "prese" "projets" "a-propos" "cv";
}
.body .main .presentation {
  grid-area: prese;
}
.body .main .projets {
  grid-area: projets;
}
.body .main .a-propos {
  grid-area: a-propos;
}
.body .main .cv {
  grid-area: cv;
}
.body .footer {
  background: #000000;
  display: grid;
  grid-template-areas: "footer-logo footer-contact footer-social-media";
  grid-template-columns: 20% 40% 40%;
  grid-template-rows: auto;
  gap: 4rem;
  align-items: center;
  justify-items: center;
  padding: 2.5rem 0.5rem;
}
.body .footer .footer-logo {
  grid-area: footer-logo;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}
.body .footer .footer-logo img {
  max-width: 100%;
}
.body .footer .footer-contact {
  grid-area: footer-contact;
}
.body .footer .footer-contact .title {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.body .footer .footer-contact .contacts {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.body .footer .footer-contact .contacts .contact-img {
  max-width: 2rem;
}
.body .footer .footer-contact .contacts .contact {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.body .footer .footer-contact .contacts .footer-link:hover .contact .contact-content {
  text-decoration: underline;
}
.body .footer .footer-social-media {
  grid-area: footer-social-media;
}
.body .footer .footer-social-media .title {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.body .footer .footer-social-media .social-medias {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.body .footer .footer-social-media .social-medias .social-media-img {
  max-width: 2rem;
}
.body .footer .footer-social-media .social-medias .social-media {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.body .footer .footer-social-media .social-medias .footer-link:hover .social-media .social-media-content {
  text-decoration: underline;
}

@media only screen and (max-width: 1100px) {
  .body .footer {
    grid-template-areas: "footer-logo" "footer-contact" "footer-social-media";
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    gap: 2rem;
    padding: 2.5rem 0.5rem;
  }
  .body .footer .footer-logo img {
    max-width: 60%;
  }
  .body .footer .footer-contact .title {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .body .footer .footer-contact .contacts {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .body .footer .footer-contact .contacts .contact {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .body .footer .footer-contact .contacts .footer-link:hover .contact .contact-content {
    text-decoration: underline;
  }
  .body .footer .footer-social-media {
    grid-area: footer-social-media;
  }
  .body .footer .footer-social-media .title {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .body .footer .footer-social-media .social-medias {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .body .footer .footer-social-media .social-medias .social-media {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .body .footer .footer-social-media .social-medias .footer-link:hover .social-media .social-media-content {
    text-decoration: underline;
  }
}
}/*# sourceMappingURL=main.css.map */