*, *::before, *::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    border-style: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Gabarito', cursive;
    color: #fff;
}

.body {
    & .header {
        position: absolute;
        width: 100%;
        top: 0px;
        left: 0px;

        & nav {
            & .nav-list {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1rem 1rem;
                width: 100%;

                & .left-link {
                    width: 16rem;

                    & .sub-nav-list {
                        & img {
                            width: 14rem;
                        }
                    }
                }
                & .center-link {
                    width: 40%;
                    & .sub-nav-list {
                        display: flex;
                        justify-content: space-evenly;

                        & .nav-item{
                            & a {
                                position: relative;

                                &:after {
                                    content: "";
                                    bottom: -.4rem;
                                    width: 0;
                                    right: -5%;
                                    position: absolute;
                                    height: 0.125rem;
                                    background: #fff;
                                    transition: .4s width;
                                }
        
                                &:hover {
                                    &:after {
                                        width: 110%;
                                        left: -5%;
                                    }
                                }
                            }
                        }
                    }

                }
                & .right-link {
                    width: 16rem;

                    & .sub-nav-list {
                        display: flex;
                        justify-content: space-around;

                        & .nav-item {
                            & a {
                                & .scale-link {
                                    padding: .5rem 1rem;
                                    border-radius: 10px;
                                    text-align: center;
                                    transition: .25s;

                                    &:active {
                                        transform: scale(0.9);
                                    }
                                }
                            }
                            &:first-child {
                                & a {
                                    & .scale-link {
                                        border: solid 1px #fff;
    
                                        &:hover {
                                            background: #fff;
                                            color: #000;
                                        }
                                    }
                                }
                            }
                            &:last-child {
                                & a {
                                    & .scale-link {
                                        background: #fff;
                                        color: #000;
                                        border: solid 1px #fff;
                                        
                                        &:hover {
                                            color: #fff;
                                            background: none;
                                        }
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }
    }
    & .main {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: 
            "prese"
            "projets"
            "a-propos"
            "cv";

        & .presentation {
            grid-area: prese;
        }
        & .projets {
            grid-area: projets;
        }
        & .a-propos {
            grid-area: a-propos;
        }
        & .cv {
            grid-area: cv;
        }
    }
    & .footer {
        background: #000000;
        height: 20vh;
    }
}