.body .main .presentation {
  background: linear-gradient(to bottom, #101c29, #2c3d4b);
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-template-rows: 20rem 16rem;
  grid-template-areas: "top-left top-center" "bottom-center bottom-center";
  gap: 10px;
  align-items: center;
  justify-items: center;
  padding: 12rem 1rem 1rem 1rem;
}
.body .main .presentation .top-left-presentation {
  grid-area: top-left;
  margin: 1rem 2rem;
}
.body .main .presentation .top-left-presentation .img-presentation img {
  max-width: 16rem;
  max-height: 16rem;
  border-radius: 20px;
  position: relative;
  transition: 0.15s;
}
.body .main .presentation .top-left-presentation .img-presentation img:hover {
  box-shadow: #cdd3d3 0 0 6px;
}
.body .main .presentation .top-left-presentation .img-presentation .cadre-image {
  width: 16rem;
  height: 16rem;
  border: solid 5px #fff;
  border-radius: 20px;
  position: absolute;
  transform: translate(20px, 20px);
}
.body .main .presentation .top-center-presentation {
  grid-area: top-center;
  max-width: 36rem;
  width: 100%;
  padding: 0 0 1rem 0;
  background: #1e1e1e;
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "boutons boutons" "lignes texte";
  transition: 0.15s;
}
.body .main .presentation .top-center-presentation:hover {
  box-shadow: #1e1e1e 0 0 8px;
}
.body .main .presentation .top-center-presentation .boutons {
  grid-area: boutons;
  padding: 0.75rem 0.5rem;
  display: grid;
  grid-template-columns: repeat(3, 25px);
  justify-items: center;
  align-items: center;
}
.body .main .presentation .top-center-presentation .boutons .bouton {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  transition: 0.15s;
}
.body .main .presentation .top-center-presentation .boutons .bouton.bouton-rouge {
  background: #ff5f5a;
}
.body .main .presentation .top-center-presentation .boutons .bouton.bouton-jaune {
  background: #ffbe2e;
}
.body .main .presentation .top-center-presentation .boutons .bouton.bouton-vert {
  background: #2aca44;
}
.body .main .presentation .top-center-presentation .boutons .bouton:hover {
  transform: scale(1.1);
}
.body .main .presentation .top-center-presentation .nums-ligne {
  grid-area: lignes;
  padding: 0 0.75rem 0 1.25rem;
}
.body .main .presentation .top-center-presentation .nums-ligne .num-ligne {
  color: #858585;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: 0.1s;
}
.body .main .presentation .top-center-presentation .nums-ligne .num-ligne:hover {
  color: #fff;
}
.body .main .presentation .top-center-presentation .texte-container {
  grid-area: texte;
  width: 90%;
}
.body .main .presentation .top-center-presentation .texte-container .texte {
  text-align: justify;
  color: #d4d4d4;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: "consolas", "IBM Plex Mono", monospace;
}
.body .main .presentation .bottom-center-presentation {
  grid-area: bottom-center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.body .main .presentation .bottom-center-presentation .bouton {
  background: #ffc400;
  padding: 1rem;
  border-radius: 1rem;
  color: #000;
  transition: 0.2s;
}
.body .main .presentation .bottom-center-presentation .bouton:hover {
  transform: scale(1.04);
  box-shadow: #916f00 0 0 8px;
}
.body .main .presentation .bottom-center-presentation .bouton:active {
  transform: scale(1);
}

@media only screen and (max-width: 1250px) {
  .body .presentation {
    grid-template-columns: auto 1fr;
    grid-template-rows: 20rem 8rem;
  }
}
@media only screen and (max-width: 801px) {
  .body .presentation {
    grid-template-columns: 90% !important;
    grid-template-rows: auto auto auto !important;
    grid-template-areas: "top-left" "top-center" "bottom-center" !important;
    padding: 6rem 1rem 3rem 1rem !important;
    justify-content: center;
    gap: 4rem !important;
  }
}
@media only screen and (max-width: 550px) {
  .body .presentation .top-left-presentation .img-presentation img {
    max-width: 12rem !important;
    max-height: 12rem !important;
  }
  .body .presentation .top-left-presentation .img-presentation .cadre-image {
    width: 12rem !important;
    height: 12rem !important;
  }
}/*# sourceMappingURL=presentation.css.map */