.body .main .a-propos {
  background: #ffffff;
  padding: 2rem 0.5rem 4rem 0.5rem;
}
.body .main .a-propos .title {
  color: #000000;
  grid-area: title;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
}
.body .main .a-propos .a-propos-container {
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-template-rows: auto;
  align-items: center;
  gap: 4rem;
}
.body .main .a-propos .a-propos-container .a-propos-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.body .main .a-propos .a-propos-container .a-propos-description .title {
  font-size: 1.6rem;
  font-weight: 600;
  color: #000000;
}
.body .main .a-propos .a-propos-container .a-propos-description .content {
  padding-left: 2rem;
  color: #000000;
  max-width: 60%;
  text-align: justify;
}
.body .main .a-propos .a-propos-container .cloud-container .title {
  font-size: 1.6rem;
  font-weight: 600;
  color: #000000;
}
.body .main .a-propos .a-propos-container .cloud-container .cloud {
  width: 100%;
  height: 18rem;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(2, 50%);
  align-items: center;
  justify-items: center;
  gap: 1rem;
}
.body .main .a-propos .a-propos-container .cloud-container .cloud .skill {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.body .main .a-propos .a-propos-container .cloud-container .cloud .skill img.skill-icon {
  position: absolute;
  max-height: 3rem;
  max-width: 3rem;
  transition: 0.3s ease-out;
}
.body .main .a-propos .a-propos-container .cloud-container .cloud .skill .description-skill {
  position: relative;
  color: #ffffff;
  text-align: center;
  font-size: 0.8rem;
  transition: 0.3s;
  margin-top: auto;
  margin-bottom: 0;
}
.body .main .a-propos .a-propos-container .cloud-container .cloud .skill .description-skill .name-skill {
  font-weight: 600;
  color: #ffffff;
  transition: 0.3s;
}
.body .main .a-propos .a-propos-container .cloud-container .cloud .skill:hover img.skill-icon {
  transform: translateY(-2rem);
}
.body .main .a-propos .a-propos-container .cloud-container .cloud .skill:hover .description-skill {
  color: #000000;
}
.body .main .a-propos .a-propos-container .cloud-container .cloud .skill:hover .description-skill .name-skill {
  color: #000000;
}

/*

HTML
CSS
SASS / SCSS
JavaScript
PHP
MySQL
MongoDB
Linux
Python
Flutter

*/
@media only screen and (max-width: 1600px) {
  .body .main .a-propos .a-propos-container .cloud-container .cloud .skill:hover img.skill-icon {
    transform: translateY(-3rem);
  }
}
@media only screen and (max-width: 1300px) {
  .body .main .a-propos .a-propos-container .cloud-container .cloud .skill:hover img.skill-icon {
    transform: translateY(-3.5rem);
  }
}
@media only screen and (max-width: 1250px) {
  .body .main .a-propos .a-propos-container {
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: auto;
    align-items: center;
    gap: 2rem;
  }
  .body .main .a-propos .a-propos-container .a-propos-description .content {
    padding-left: 0;
    max-width: 80%;
  }
  .body .main .a-propos .a-propos-container .cloud-container .cloud .skill:hover img.skill-icon {
    transform: translateY(-3rem);
  }
}
@media only screen and (max-width: 1070px) {
  .body .main .a-propos {
    padding: 2rem 0.5rem 4rem 0.5rem;
  }
  .body .main .a-propos .a-propos-container {
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: auto auto;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
  .body .main .a-propos .a-propos-container .a-propos-description .content {
    padding-left: 0;
    max-width: 60%;
  }
  .body .main .a-propos .a-propos-container .cloud-container .cloud .skill:hover img.skill-icon {
    transform: translateY(-3rem);
  }
}
@media only screen and (max-width: 1070px) {
  .body .main .a-propos {
    padding: 2rem 0.5rem 4rem 0.5rem;
  }
  .body .main .a-propos .a-propos-container {
    grid-template-columns: 90%;
  }
}
@media only screen and (max-width: 800px) {
  .body .main .a-propos .a-propos-container {
    grid-template-columns: 60%;
  }
  .body .main .a-propos .a-propos-container .cloud-container .cloud {
    height: 50rem;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(5, auto);
  }
  .body .main .a-propos .a-propos-container .cloud-container .cloud .skill {
    padding: 0 1.5rem;
  }
  .body .main .a-propos .a-propos-container .cloud-container .cloud .skill:hover img.skill-icon {
    transform: translateY(-2rem);
  }
}
@media only screen and (max-width: 640px) {
  .body .main .a-propos .a-propos-container {
    grid-template-columns: 75%;
  }
}
@media only screen and (max-width: 530px) {
  .body .main .a-propos .a-propos-container {
    grid-template-columns: 80%;
  }
}
@media only screen and (max-width: 500px) {
  .body .main .a-propos .a-propos-container {
    grid-template-columns: 85%;
  }
  .body .main .a-propos .a-propos-container .cloud-container .cloud .skill {
    padding: 0 0.75rem;
  }
}
@media only screen and (max-width: 420px) {
  .body .main .a-propos .a-propos-container {
    grid-template-columns: 100%;
  }
  .body .main .a-propos .a-propos-container .cloud-container .cloud {
    gap: 0.5rem;
  }
  .body .main .a-propos .a-propos-container .cloud-container .cloud .skill {
    padding: 0 0.5rem;
  }
}
@media only screen and (max-width: 330px) {
  .body .main .a-propos .a-propos-container .cloud-container .cloud {
    gap: 0.1rem;
  }
  .body .main .a-propos .a-propos-container .cloud-container .cloud .skill .description-skill {
    font-size: 0.75rem;
  }
}
@media only screen and (max-width: 295px) {
  .body .main .a-propos .a-propos-container .cloud-container .cloud .skill:hover img.skill-icon {
    transform: translateY(-2.25rem);
  }
}
@media only screen and (max-width: 290px) {
  .body .main .a-propos .a-propos-container .cloud-container .cloud .skill:hover img.skill-icon {
    transform: translateY(-3rem);
  }
}/*# sourceMappingURL=a-propos.css.map */