.body {
    & .main {
        & .a-propos {
            background: #ffffff;
            padding: 2rem .5rem 4rem .5rem;
            
            & .title  {
                color: #000000;
                grid-area: title;
                font-size: 3rem;
                text-align: center;
                margin-bottom: 3rem;
            }

            & .a-propos-container {
                display: grid;
                grid-template-columns: 40% 1fr;
                grid-template-rows: auto;
                align-items: center;
                gap: 4rem;

                & .a-propos-description {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    & .title {
                        font-size: 1.6rem;
                        font-weight: 600;
                        color: #000000;
                    }

                    & .content {
                        padding-left: 2rem;
                        color: #000000;
                        max-width: 60%;
                        text-align: justify;
                    }
                }

                & .cloud-container {
                    & .title {
                        font-size: 1.6rem;
                        font-weight: 600;
                        color: #000000;
                    }

                    & .cloud {
                        width: 100%;
                        height: 18rem;
                        display: grid;
                        grid-template-columns: repeat(5, auto);
                        grid-template-rows: repeat(2, 50%);
                        align-items: center;
                        justify-items: center;
                        gap: 1rem;

                        & .skill {
                            height: 100%;
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;

                            & img.skill-icon {
                                position: absolute;
                                max-height: 3rem;
                                max-width: 3rem;
                                transition: .3s ease-out;
                            }

                            & .description-skill {
                                position: relative;
                                color: #ffffff;
                                text-align: center;
                                font-size: .8rem;
                                transition: .3s;
                                margin-top: auto;
                                margin-bottom: 0;
                                
                                & .name-skill {
                                    font-weight: 600;
                                    color: #ffffff;
                                    transition: .3s;
                                }
                            }

                            &:hover {
                                & img.skill-icon {
                                    transform: translateY(-2rem);
                                }
                                
                                & .description-skill {
                                    color: #000000;

                                    & .name-skill {
                                        color: #000000;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*

HTML
CSS
SASS / SCSS
JavaScript
PHP
MySQL
MongoDB
Linux
Python
Flutter

*/