.body .main .projets {
  overflow: hidden;
  font-family: "Roboto", serif;
  background: #2b343c;
  align-items: center;
  justify-items: center;
  gap: 2rem;
  padding: 0.5rem 0 0 0;
}
.body .main .projets .top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0.5rem;
}
.body .main .projets .top-container .title {
  font-size: 3rem;
  text-align: center;
}
.body .main .projets .top-container .sub-title {
  text-align: center;
  font-weight: 400;
  max-width: 30rem;
}
.body .main .projets .carousel {
  position: relative;
  z-index: 1;
  height: 80vh;
  overflow: hidden;
  pointer-events: none;
  margin-top: 2rem;
}
.body .main .projets .carousel-item {
  --items: 10;
  --width: clamp(150px, 30vw, 300px);
  --height: clamp(200px, 40vw, 400px);
  --x: calc(var(--active) * 800%);
  --y: calc(var(--active) * 200%);
  --rot: calc(var(--active) * 120deg);
  --opacity: calc(var(--zIndex) / var(--items) * 3 - 2);
  overflow: hidden;
  position: absolute;
  z-index: var(--zIndex);
  width: var(--width);
  height: var(--height);
  margin: calc(var(--height) * -0.5) 0 0 calc(var(--width) * -0.5);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transform-origin: 0% 100%;
  box-shadow: 0 10px 50px 10px rgba(0, 0, 0, 0.5);
  background: black;
  pointer-events: all;
  transform: translate(var(--x), var(--y)) rotate(var(--rot));
  transition: transform 0.8s cubic-bezier(0, 0.02, 0, 1);
}
.body .main .projets .carousel-item .carousel-box {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
  opacity: var(--opacity);
  font-family: "Orelo-sw-db", serif;
}
.body .main .projets .carousel-item .carousel-box:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5));
}
.body .main .projets .carousel-item .title {
  position: absolute;
  z-index: 1;
  color: #fff;
  top: 10px;
  left: 20px;
  transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
  font-size: 1.5rem;
}
.body .main .projets .carousel-item .card-description {
  position: absolute;
  z-index: 1;
  color: #fff;
  top: 3rem;
  left: 5%;
  width: 90%;
  text-align: justify;
  transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
  font-size: 1rem;
}
.body .main .projets .carousel-item .card-image img {
  position: absolute;
  z-index: 1;
  top: 9rem;
  left: 5%;
  transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
  width: 90%;
}
.body .main .projets .carousel-item .links {
  position: absolute;
  z-index: 1;
  color: #fff;
  bottom: 20px;
  transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  font-size: clamp(20px, 10vw, 80px);
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  height: 20%;
  padding: 0 1rem;
}
.body .main .projets .carousel-item .links .card-button img {
  padding: 0.5rem;
  border-radius: 10px;
  background: #ffc400;
  transition: 0.2s;
  width: 2rem;
}
.body .main .projets .carousel-item .links .card-button img:hover {
  transform: scale(1.1);
  box-shadow: #916f00 0 0 8px;
}
.body .main .projets .carousel-item .links .card-button .no-github {
  background: #616161;
}
.body .main .projets .carousel-item .links .card-button .no-github:hover {
  box-shadow: #4b4b4b 0 0 8px;
}
.body .main .projets .carousel-item .background {
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: #273b4c;
}
.body .main .projets .cursor {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  --size: 40px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: calc(var(--size) * -0.5) 0 0 calc(var(--size) * -0.5);
  transition: transform 0.85s cubic-bezier(0, 0.02, 0, 1);
  display: none;
  pointer-events: none;
}
@media (pointer: fine) {
  .body .main .projets .cursor {
    display: block;
  }
}
.body .main .projets .cursor2 {
  --size: 2px;
  transition-duration: 0.7s;
}/*# sourceMappingURL=projets.css.map */